<% layout('layouts/boilerplate') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card border-secondary shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="image-row d-flex justify-content-center mb-4">
                        <img src="/images/carriers.jpg" alt="Pet carriers" class="img-fluid rounded dynamic-image">
                        <img src="/images/backpack_cat.jpg" alt="Cat in a backpack carrier" class="img-fluid rounded dynamic-image">
                        <img src="/images/family.jpg" alt="Family traveling with pets" class="img-fluid rounded dynamic-image">
                    </div>
                    <h1 class="text-center text-secondary-emphasis mb-4"><strong>Welcome to Pet Voyage!</strong></h1>
                    <p class="lead text-center">
                        Pet Voyage is my labor of love, born from a passion for travel and the belief that our pets should never hold us back from exploring the world. If you're fortunate enough to share your life with animals, why not bring them along on your adventures?
                    </p>
                    <img src="/images/carriers.jpg" alt="Pet carriers" class="img-fluid rounded dynamic-image-mobile">
                    <p class="lead text-center">
                        This journey began when I decided to immerse myself in a new culture and learn something new. With three beloved pets by my side, leaving them behind was never an option. However, navigating the process of flying with pets was overwhelming, confusing, and involved countless hours of research. I was so anxious about ensuring my Pitbull could travel safely that I kept my plans to move abroad a secret, just in case things didn’t work out. 
                        (See my <a href="/tips">Tips & Tricks Section</a> for some learned lessons. )
                    </p>
                    <img src="/images/backpack_cat.jpg" alt="Cat in a backpack carrier" class="img-fluid rounded dynamic-image-mobile">
                    <p class="lead text-center">
                        Now, having flown with my pets half a dozen times, I’ve gained valuable insights and experience. While it’s become less stressful, the process still comes with its challenges. That’s why I created Pet Voyage: to make your travels with your pets smoother, less daunting, and more enjoyable.
                    </p>
                    <img src="/images/family.jpg" alt="Family traveling with pets" class="img-fluid rounded dynamic-image-mobile">
                    <p class="lead text-center">
                        Whether you're embarking on your first trip or your tenth, I hope this site helps guide your decisions and makes your journey unforgettable—for both you and your furry companions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
