<% layout('layouts/boilerplate') %>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card border-secondary shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="bg-light py-lg-2 text-center border-bottom mt-1">
                        <img
                          src="/images/PetVoyageLogo.png"
                          class="img-fluid rounded-top d-block mx-auto"
                          alt="PetVoyage Logo - Pet Travel Regulations and Policies"
                          width="200" height="200"
                        />  
                    <!-- Hero Section -->
                    <h1 class="text-center text-primary-emphasis mb-4"><strong>Welcome to Pet Voyage!</strong></h1>
                    
                        <%- include('../partials/navigation') %>
             
                    <div class="image-row d-flex justify-content-center mb-4">
                        <img src="/images/carriers.jpg" alt="Pet carriers" class="img-fluid rounded dynamic-image shadow-lg me-3">
                        <img src="/images/backpack_cat.jpg" alt="Cat in a backpack carrier" class="img-fluid rounded dynamic-image shadow-lg me-3">
                        <img src="/images/family.jpg" alt="Family traveling with pets" class="img-fluid rounded dynamic-image shadow-lg">
                    </div>
              

                    <p class="lead text-center text-muted">
                        Pet Voyage is a labor of love, designed to make traveling with your pets seamless and enjoyable. Whether you're embarking on a new adventure or revisiting favorite destinations, we help you navigate the complexities of pet travel with ease.
                    </p>
                    
                    <!-- Content Section -->
                    <div class="content-section">
                        <p class="lead text-center text-secondary">
                            This journey began when I decided to immerse myself in a new culture, with my three beloved pets in tow. Leaving them behind was never an option. However, navigating the process of flying with pets was overwhelming, involving countless hours of research and planning.
                        </p>
                        <p class="lead text-center text-secondary">
                            See my <a href="/tips" class="text-dark fw-bold">Tips & Tricks Section</a> for valuable insights and lessons learned along the way.
                        </p>
                        <p class="lead text-center text-secondary">
                            After flying with my pets half a dozen times, I’ve gained invaluable experience and tips. While the process has become less stressful, it still presents challenges. That’s why I created Pet Voyage: to guide you through your pet travel adventures.
                        </p>
                        <p class="lead text-center text-secondary">
                            Whether you're embarking on your first trip or your tenth, I hope this site makes your journey unforgettable—for both you and your furry companions. See my <a href="/blog" class="text-dark fw-bold">Blog: Moving to Mexico</a> with my 2 dogs and cat.
                        </p>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>


