<div class="text-center">
    <img
        src="/images/PetVoyageLogo.png"
        class="img-fluid rounded-top d-block mx-auto"
        alt="PetVoyage Logo"
        width="400"
        height="400"
    />
    <a href="/auth/google" class="btn btn-outline-danger btn-lg d-flex align-items-center justify-content-center mt-4">
        <i class="fab fa-google me-2"></i> <!-- Google icon using Font Awesome -->
        Login with Google
    </a>
</div>


