<div class="container mt-5">
    <div class="card bg-white shadow-lg mb-3 border  ">
        <div class="d-flex align-items-center">
            <!-- Image on the left -->
            <img class="img-fluid rounded mb-3" src="/images/Dog.png" alt="Cat traveling regulations" style="max-width: 150px;">

            <!-- Text in the center -->
            <div class="flex-grow-1 px-4 text-center">
                <h2 class="text-center text-primary-emphasis mb-4"><strong>Find a Vet with Pet Travel Experience!</strong></h2>
                <p class="mt-3">
                    Not every veterinarian is set up to handle pet travel. Use our <strong>Find-A-Vet</strong> tool to locate experienced clinics 
                    that can help you with your travel documents. <strong>Find-A-Vet</strong> takes the hassle out of manually searching for the perfect clinic to simplify your travel.
                </p>
            </div>

            <!-- Button on the right -->
            <div class="flex-shrink-0">
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/findAVet'">
                    <i class="bi bi-search"></i> Find A Vet
                </button>
            </div>
        </div>
    </div>
</div>
