<!-- Main Footer -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span class="text-light">
            PetVoyage &copy; 2024
        </span>
        <a class="" href="/sitemap">Site Map</a></li>

        <!-- Search Field Placeholder for Mobile -->

</div>

</footer>
