<% layout('layouts/boilerplate') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
           
            <div class="card shadow-lg p-4 border-secondary rounded">
                <img
                src="/images/PetVoyageLogo.png"
                class="img-fluid rounded-top d-block mx-auto"
                alt="PetVoyage Logo"
                width="400"
height="400"
        
            />
                
                <div class="text-center">
                    <a href="/auth/google" class="btn btn-outline-danger btn-lg d-flex align-items-center justify-content-center">
                        <i class="fab fa-google me-2"></i> <!-- Google icon using Font Awesome -->
                        Login with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Font Awesome CDN for the Google Icon -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
